*{
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #eab67687;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #d0e6f0;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(119, 79, 41, 0.25), 5px 5px 15px rgba(119, 79, 41, 0.25);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #0022ffe0;
}

@keyframes buttonClickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.calculator input[type="button"] {
    transition: transform 0.1s ease-in-out;
}
.calculator input[type="button"]:active {
    animation: buttonClickAnimation 0.35s ease;
}

.header {
    background-color: #1d2c8de0; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    font-size: 36px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
}